###############################################################
# Config
###############################################################
API_BASE_URL=https://local-api.eco-picker.io
APP_BASE_URL=https://local-app.eco-picker.io
APP_PRIVATE_BASE_URL=https://local-app.eco-picker.io
STATIC_BASE_URL=https://local-static.eco-picker.io

###############################################################
# Gemini
###############################################################
GEMINI_APP_KEY={GEMINI_APP_KEY}