<div style="width: 640px;">
    <div style="align-items: center; background: #fff; margin: 0 auto; padding: 44px 24px 24px 24px; position: relative; width: 500px;">
        <div style="color: #4CAF50; font-size: 20px; font-style: normal; font-weight: 700; letter-spacing: -0.45px; line-height: 24px; width: 500px;">
            Complete sign up for Hey-there
        </div>
        <div style="margin-top: 44px; width: 500px;">
            <div class="textWrap">
                <div style="color: #262626; font-size: 15px; font-style: normal; font-weight: 500; letter-spacing: -0.23px; line-height: 22px; width: 500px;">
                    Hello, [[${username}]] <br>
                    Welcome to Eco Picker
                </div>
                <div style="color: #262626; font-size: 15px; font-style: normal; font-weight: 500; letter-spacing: -0.23px; line-height: 22px; margin-top: 15px; width: 500px;">
                    Please click the following button to complete your sign-up.<br>
                    If the button does not work, click the link below instead.
                </div>
            </div>
            <div style="font-size: 13px; font-style: normal; line-height: 18px; margin-top: 32px;">
                <a th:href='@{${verifyUrl}}' target="_blank"
                   style="align-items: center; background: #4CAF50; border-radius: 8px; color: #262626; display: block; font-weight: 700; height: 20px; letter-spacing: -0.18px; padding: 8px 16px; text-align: center; text-decoration: none;">
                    Confirm Hey-there Sign-up</a>
            </div>

            <div style="background: rgba(60, 60, 67, 0.08); border: 0px solid rgba(60, 60, 67, 0.08); height: 1px; margin: 32px 0; width: 500px;"></div>
            <div style="color: rgba(60, 60, 67, 0.6); font-size: 13px; font-style: normal; font-weight: 500; letter-spacing: -0.28px; line-height: 18px; text-align: center;">
                Please let us know if there is anything we can do to help you.<br>
                Eco Picker Team<br>
                Contact Us<br>
                eco-picker@hey-there.io<br>
                Copyrights ⓒ Eco Picker. All Rights Reserved.
            </div>
        </div>
    </div>
</div>